In [20]:
import pandas as pd
import numpy as np

valores = np.genfromtxt("numeros.csv", delimiter=",", skip_header=1)
#dados = pd.read_csv('numeros.csv')
#df = pd.DataFrame(dados)

In [13]:
#dados.head()

   dados
0    464
1    645
2   4545
3  54646
4   1212

In [25]:
positivos = 0
maiorvalor = 0
menorvalor = 0
for i in valores: 
    if i >= 0:
        positivos += 1
    if i > maiorvalor:
        maiorvalor = i
    if i < menorvalor:
        menorvalor = i
print("Total de positivos = " + str(positivos)) 
print("Maior valor encontrado = " + str(maiorvalor))     
print("Menor valor encontrado = " + str(menorvalor))

Total de positivos = 45
Maior valor encontrado = 9999999.0
Menor valor encontrado = -45644.0