In [3]:
import pandas as pb
import pydataset

In [5]:
titanic = pydataset.data("titanic")

In [35]:
titanic.columns

Index(['class', 'age', 'sex', 'survived'], dtype='object')

In [40]:
titanic.head()

       class     age  sex survived
1  1st class  adults  man      yes
2  1st class  adults  man      yes
3  1st class  adults  man      yes
4  1st class  adults  man      yes
5  1st class  adults  man      yes

In [34]:
titanic["class"].describe()

count          1316
unique            3
top       3rd class
freq            706
Name: class, dtype: object

In [28]:
titanic["class"].nbytes

10528

In [36]:
%%time
titanic["class"] == "3rd class"

Wall time: 0 ns

1       False
2       False
3       False
4       False
5       False
        ...
1312     True
1313     True
1314     True
1315     True
1316     True
Name: class, Length: 1316, dtype: bool